<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>

  <quartz>
    <add key="quartz.plugin.recentHistory.type" value="Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory" />
    <add key="quartz.plugin.recentHistory.storeType" value="Quartz.Plugins.RecentHistory.Impl.LiteDbExecutionHistoryStore, Quartz.Plugins.RecentHistory" />
    <add key="quartz.plugin.recentHistory.dataPath" value="f:/temp/his.db" />
    <add key="quartz.plugin.quartzmin.type" value="Quartzmin.SelfHost.QuartzminPlugin, Quartzmin.SelfHost" />
    <add key="quartz.plugin.quartzmin.productName" value="数据中心" />
    <add key="quartz.plugin.quartzmin.url" value="http://*:3333" />    
    <add key="quartz.scheduler.instanceName" value="DataCenterScheduler" />
    <add key="quartz.scheduler.instanceId" value="quantbox_dc102" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <add key="quartz.jobStore.useProperties" value="false" />
    <add key="quartz.jobStore.dataSource" value="default" />
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
    <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz" />
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SQLiteDelegate, Quartz" />
    <add key="quartz.dataSource.default.provider" value="SQLite-Microsoft" />
    <add key="quartz.dataSource.default.connectionString" value="Data Source=f:/temp/jobs.db"/>
    <add key="quartz.serializer.type" value="json" />
  </quartz>
</configuration>
